<form action="/signup/interests" method="POST">
  <input type="checkbox" name="HTML" value="Html"> html<br>
  <input type="checkbox" name="CSS" value="CSS" checked="checked"> CSS<br>
  <input type="submit" value="Submit">
</form>