<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>
            < Mentorify ></title>

            <!-- Bootstrap core CSS -->
            <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

            <!-- Optional theme -->
            <link href="/stylesheets/bs-theme.min.css" rel="stylesheet">

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link href="/stylesheets//ie10-viewport-bug-workaround.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="/stylesheets/signin.css" rel="stylesheet">

            <link rel="stylesheet" href="/stylesheets/application.css" charset="utf-8">

            <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
            <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
            <script src="/javascript/ie-emulation-modes-warning.js"></script>

            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->

        </head>

        <body>

            <div class="container">

                <div class="col-md-7 col-sm-7">
                    <div class="jumbotron">
                        <div class="logo-border">
                            <h1 id="hero-heading">
                                <span>
                                    <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                                </span> Mentorify
                            </h1>
                        </div>
                        <!-- <video autoplay="" id="video1" loop=""><source class="fullscreen-bg__video" src="https://a0.muscache.com/airbnb/static/host_banner_v1.mp4" type="video/mp4"></video> -->
                    </div>
                </div>
                <div class="col-md-5 col-sm-7 forms">
                    <div id="signup-form">
                        <form class="form-signin" action="" method="" id="signup-form">
                            <h2 class="form-signin-heading">Join Today</h2>
                            <label for="input_firstname" class="sr-only">First Name</label>
                            <input type="text" id="input_firstname" class="form-control" placeholder="First Name" required autofocus>
                            <label for="input_lastname" class="sr-only">Last Name</label>
                            <input type="text" id="input_lastname" class="form-control middle-box" placeholder="Last Name" required>
                            <label for="input_email" class="sr-only">Email</label>
                            <input type="email" id="input_email" class="form-control middle-box" placeholder="Email" required>
                            <label for="input_password" class="sr-only">Password</label>
                            <input type="password" id="input_password" class="form-control middle-box" placeholder="Password" required>
                            <label for="input_confirmpassword" class="sr-only">Confirm Password</label>
                            <input type="password" id="input_confirmpassword" class="form-control" placeholder="Password" required>
                            <label>
                                <input type="checkbox" value="interest-1">
                                interest name to come here from erb loop
                            </label>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                        </form>
                        <div class="row" id="login-link">
                            <h5>Already a member? <a href="#">Sign in</a></h5>
                        </div>
                    </div>
                    <div id="login-form">
                        <form class="form-signin" action="" method="">
                            <h2 class="form-signin-heading">Login</h2>
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me">
                                    Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                        <div class="row" id="signup-link">
                            <h5>New here? <a href="#">Sign up today!</a></h5>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /container -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="/javascript/ie10-viewport-bug-workaround.js"></script>
            <script type="text/javascript" src="/javascript/application.js"></script>
        </body>
    </html>
