<form form method="post" action="/signup">
  <div>
    <label> First Name </label>
    <input type="text" name="first_name">
  </div>
  <div>
    <label> last Name </label>
    <input type="text" name="last_name">
  </div>
  <div>
    <label> Email </label>
    <input type="text" name="email">
  </div>
  <div>
    <label> Phone nUmber </label>
    <input type="text" name="phone_number">
  </div>
  <div>
    <label>Password</label>
    <input type="text" name="password">
  </div>
   <div>
    <input type="submit" value="Submit">
  </div>
</form>